@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');

@font-face {
    font-family: 'SoDo Sans';
    src: local('SoDo Sans'), local('SoDo Sans'),
        url(../assets/SoDoSans-Regular.woff2) format('woff2'),
        url('../assets/SoDoSans-Regular.woff') format('woff'),
        url('../assets/SoDoSans-Regular.ttf') format('truetype');
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*header index*/

header {
    background-image: url(../assets/reservas\ oscuro.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    text-align: center;
    padding: 20px;
    height: 800px;
}

.header-navbar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-nav-items {
    margin: 0 auto;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-collapse {
    justify-content: center;
}

.header-nav-items .nav-link {
    color: #c6c6c6;
    font-family: 'SoDo Sans';
}

.nav-link active {
    color: white;
}

.header-nav-items .nav-link:hover {
    color: white;
}

.banner-container {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    align-items: center;
}

.botones-banner-container {
    display: flex;
    justify-content: center;
    font-family: 'SoDo Sans';
    padding: 20px;
}

.botones-banner-container a {
    margin: 10px;
}

/* main index */

main {
    background-image: url(../assets/fondo\ especias.png);
    background-size: 100% auto;
}

.nosotros-container {
    margin: 30px;
    padding: 30px;
}

.nosotros-container p {
    font-family: 'SoDo Sans';
    margin-left: 60px;
}

.titulo-nosotros {
    font-family: "Parisienne", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    color: rgb(0, 0, 0);
    padding: 30px;
}

.nosotros-container button {
    font-family: 'SoDo Sans';
}

.btn-success {
    margin-left: 60px;
    font-family: 'SoDo Sans';
}

.titulo-inicio {
    font-family: "Parisienne", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    color: white;
}

.especialidades-container {
    margin-bottom: 60px;
}

.titulo-especialidades {
    font-family: "Parisienne", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    color: rgb(0, 0, 0);
    padding: 30px;
    text-align: center;
}

.comidas-especialidades-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    align-items: center;
    justify-content: center;
}

.invertido {
    display: flex;
    flex-direction: row-reverse column;
    align-items: center;
    justify-content: center;
}

.img-comidas-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
}

.comidas-img {
    max-width: 100%;
    height: auto;
    width: 300px;
}

.texto-especialidades {
    text-align: center;
    margin-top: 20px;
}

.texto-especialidades-invertido {
    text-align: center;
    margin-top: 20px;
}

.titulo-comidas-especialidades {
    font-family: "Parisienne", cursive;
    font-size: 40px;
}

.titulo-comidas-especialidades-invertido {
    font-family: "Parisienne", cursive;
    font-size: 40px;
}

.texto-especialidades-invertido p {
    font-family: 'SoDo Sans';
}

.texto-especialidades p {
    font-family: 'SoDo Sans';
}

.calidad-container {
    background-image: url(../assets/harina.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    margin-top: 60px;
}

.titulo-calidad {
    font-family: "Parisienne", cursive;
    font-size: 50px;
    color: white;
    text-align: center;
    padding: 10px 30px;
}

.calidad-container p {
    font-family: 'SoDo Sans';
    text-align: center;
    padding: 10px 30px;
    color: white;
}

/*footer*/

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 500px;
}

.footer-nav-items .footer-nav-link {
    color: #000000;
    font-family: 'SoDo Sans';
}

.titulo-contacto {
    font-family: 'SoDo Sans';
    font-size: 25px;
}

.contacto-container h2 {
    font-family: 'SoDo Sans';
    font-size: 16px;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.derechos {
    font-size: 10px;
    font-family: 'SoDo Sans';
}

/*header menu*/

.header-menu {
    background-image: url(../assets/menu.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    text-align: center;
    padding: 20px;
    height: 500px;
}

/*main menu*/
.texto-comidas-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.titulo-comidas-menu {
    font-family: "Parisienne", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
}

.subtitulo-comidas-menu {
    font-family: "Parisienne", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

.col {
    display: flex;
    justify-content: center;
}

.card.comidas-container {
    border-color: #3C582B;
}

.texto-comidas {
    text-align: center;
}

.info-comidas, .info-img, .titulo-comidas {
    font-family: 'SoDo Sans';
}

/*header galeria*/

.header-galeria {
    background-image: url(../assets/galeria.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    text-align: center;
    padding: 20px;
    height: 500px;
}

.contenedor-imagenes1, .primera-seccion {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-imagenes2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.no-border-card {
    border: none;
    border-radius: 0%;
}

.imagen2-card,
.imagen1-card {
    background-color: transparent;
}

.contenedor-seccion-img {
    width: 26rem;
}

.contenedor-seccion2-img {
    width: 38rem;
}

.frase-galeria {
    font-family: "Parisienne", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    margin-top: 60px;
    text-align: center;
}

@media (min-width: 768px) {
    .titulo-nosotros {
        font-size: 80px;
    }

    .titulo-especialidades {
        font-size: 80px;
    }

    .titulo-inicio {
        font-size: 100px;
    }
}

@media (min-width: 1200px) {
    .texto-especialidades {
        position: relative;
        right: 10%;
    }

    .texto-especialidades-invertido {
        position: relative;
        left: 13%;
    }
}

@media (min-width: 576px) {

    .comidas-especialidades-container {
        display: flex;
        flex-direction: row;
        margin-bottom: 30px;
        align-items: center;
        justify-content: center;
    }

    .invertido {
        flex-direction: row-reverse;
    }

    .texto-especialidades {
        text-align: start;
    }

    .texto-especialidades-invertido {
        text-align: start;
    }

    .titulo-comidas-especialidades-invertido {
        text-align: end;
        margin-right: 30px;
    }

    .titulo-calidad {
        font-size: 80px;
        padding: 10px 40px;
    }

    .calidad-container p {
        font-size: 25px;
        padding: 10px 40px;
    }

    .footer-container {
        flex-direction: row;
        height: 300px;
    }

    .titulo-comidas-menu {
        font-size: 80px;
    }

    .subtitulo-comidas-menu {
        font-size: 30px;
    }
}